# MediaMTX
mediamtx_rtsp_server/
mediamtx_v1.9.3_linux_amd64.tar.gz

# Logs and runtime files
*.log
*.tmp
recordings/

# Video and Large Assets
demo_clips/*
!demo_clips/.gitkeep
*.png
*.jpg
*.jpeg
demo_clips$

# Python/Environment
__pycache__/
.ipynb_checkpoints/
*.ipynb
.env
venv/
.DS_Store
